/*MAIN MODULE*/


.box.box-solid.box-success .box-header,.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2dbd5+0,c1bab2+61,bfb7af+100 */

background: #00a65a;
color: #333;
border-radius: 5px 5px 0px 0px;

}

.box.box-solid.box-success {
/*    border: solid 1px #fafafa;*/
}

.masterfile_ico, 
.purchases_ico,.sales_ico,
.inventory_ico, .payables_ico, 
.receivables_ico,.accounting_ico,
.reportlist_ico, .utilities_ico, .productions_ico {
/*    color: #333 ;*/
    font-size: 11px;
/*    border-radius: 50%;*/
    padding:5px;
}

.new_btn,
.add_btn,
.quickadd_btn,
.edit_btn,
.save_btn,
.cancel_btn, 
.print_btn,
.lock_btn,
.unlock_btn,
.post_btn,
.unpost_btn, 
.posted_btn,
.logs_btn,
.delete_btn,
.order_btn,
.unpaid_btn, 
.adjust_btn,
.coa_btn,
.checks_btn
 {
font-size: 14px;
color:#f3f3f3;
/*border-radius: 50%;*/
padding: 3px;
width: 20px;
height: 20px;
/*below is for btn emboss effect*/
/*border: 1px inset #d6d3d6;*/
}



.jaox_ico {
/*    background: #226388;*/
    padding: 4px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: 1px inset #d6d3d6;
    margin-top: -2px;
}

/*this is to hide some div you don't wann to be vissible*/
.hid {
    display:none;
}
/*this is to hide some div you don't wann to be vissible*/

.page_nav_icons {
    color: #f6f6f6;
/*    border: 1px inset #d6d3d6;*/
    padding: 2px;
    border-radius: 5px;
}




.box.box-solid.box-success > .box-header {
  color: #333;
}

.txttrno {
    color:#fff;
} 


.control-sidebar-dark + .control-sidebar-bg {
background-color: #1e282c;
}
